.container__menu-title{
    color: white;
}
.container__menu-title > h1{
    margin: 15px 15px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container__menu-title > hr{
    margin: 20px 20px;
    display: flex;
    justify-content: center;

}