<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles_main">
        <app-big-card
            photoCover="https://storage.googleapis.com/proudcity/mebanenc/uploads/2021/03/placeholder-image.png"
            cardTitle="Título do Card "
            cardDescription="Descrição do Card"
        
        >

        </app-big-card>
    </div>
    <div class="articles_others">
        <app-small-card 
            photoCoverSmall="https://storage.googleapis.com/proudcity/mebanenc/uploads/2021/03/placeholder-image.png"
            smallCardTitle="Título do Small Card"
            
        >
        </app-small-card>
        
        <app-small-card 
                photoCoverSmall="https://storage.googleapis.com/proudcity/mebanenc/uploads/2021/03/placeholder-image.png"
                smallCardTitle="Título do Small Card 2"
                
    >
        </app-small-card>
    
        <app-small-card 
                photoCoverSmall="https://storage.googleapis.com/proudcity/mebanenc/uploads/2021/03/placeholder-image.png"
                smallCardTitle="Título do Small Card 3"
                
            >


</app-small-card>
    </div>
</div>


 